<h1>PassUsingViewBag</h1>
<div>
    <b>
        Rand Value First: @ViewBag.CalculatorDataModel.FirstValue<br>
        Rand Value Second: @ViewBag.CalculatorDataModel.SecondValue<br>
    </b>

    <b>Add :</b><br>
    @ViewBag.CalculatorDataModel.FirstValue + @ViewBag.CalculatorDataModel.SecondValue = @ViewBag.CalculatorDataModel.addition<br>

    <b>Sub :</b><br>
    @ViewBag.CalculatorDataModel.FirstValue - @ViewBag.CalculatorDataModel.SecondValue = @ViewBag.CalculatorDataModel.subtraction<br>

    <b>Mult :</b><br>
    @ViewBag.CalculatorDataModel.FirstValue * @ViewBag.CalculatorDataModel.SecondValue = @ViewBag.CalculatorDataModel.multiplication<br>

    <b>Div :</b><br>
    @ViewBag.CalculatorDataModel.FirstValue / @ViewBag.CalculatorDataModel.SecondValue = @ViewBag.CalculatorDataModel.division<br>
</div>